/* Reset some default styles */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
}

.block-text {
    color: white;
}

/* Header Section Styles */
.header {
    background: radial-gradient(circle at center, #009245 0%, #009245 50%, #FCEE21 100%);
    text-align: center;
    padding: 2rem;
}

.header>.block-text {
    display: block !important;
    color: white !important;
    font-size: 24px;
}

img {
    width: 50px;
    height: auto;
    border-radius: 50% !important;
}

/* Section Styles */
.home {
    padding: 2rem;
    background: linear-gradient(45deg, #1a1a1a, #000033);
}

.home h2 {
    font-size: 2.5rem;
    color: white !important;
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
    color: white !important;
}

.work,
.contact {
    background: linear-gradient(45deg, #333333, #666666);
    color: white !important;
    padding: 2rem;
}

.block-card {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.block-card h3 {
    font-size: 1.8rem;
    color: #FF6B6B;
    margin-bottom: 1.5rem;
    text-align: center;
}

.block-scroll {
    max-height: 400px;
    padding: 0;
    align-items: stretch !important;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.block-scroll::-webkit-scrollbar {
    display: none !important;
}

/* Hiding scrollbar for IE, Edge and Firefox */
.block-scroll {
    scrollbar-width: none !important;
    /* Firefox */
    -ms-overflow-style: none !important;
    /* IE and Edge */
}

.block-list {
    list-style: none;
    flex-direction: column;
    flex-wrap: nowrap;
    background: none;
    border: none;
    box-shadow: none;
}

.block-list-e {
    margin-bottom: 0.1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    background: linear-gradient(to right, #FF6B6B, #FFA07A);
}

.creativity {
    background: linear-gradient(45deg, #1a1a1a, #000033);
    color: white !important;
    padding: 2rem;
}

.art {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.art h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.art p {
    font-size: 1.2rem;
    line-height: 1.6;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

p {
    font-size: 1.2rem;
    color: black;
}

.topbar-o>.logo {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 2%;
}

.logo > .block-text {
    white-space: nowrap;
}

.logo>img {
    border-radius: 50%;
}

.top-tab-block {
    margin-right: 5%;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

/* Mobile Context Menu Styles */
.mobile-context-menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.82) inset;
    border-radius: 12px;
    z-index: 1000;
    padding: 2%;
    color: black;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

.menu-item:hover {
    background-color: rgb(95, 95, 95);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header {
        padding: 1.5rem;
    }

    #home {
        padding: 1.5rem;
    }

    .block-card {
        padding: 1rem;
    }

    .block-card {
        width: 95%;
        padding: 2%;
    }

    .hamburger-menu {
        display: block !important;
    }

    .top-tab-block-e {
        display: none;
    }
}